<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <%-include('partials/header.ejs')%>
    </header>
   
    <h1>NUESTROS PRODUCTOS:</h1>
    <div class="contenedor">
        <% products.forEach(product => { %>
            <div>
                <img src="/img/products/<%= product.image %>" alt="">
                <div>
                    <h2><%= product.name %></h2>
                    <h2><%= product.price %></h2>
                </div>  
            </div>
            <% }) %>
            
    </div>


    <footer>
        <%-include('partials/footer.ejs')%>
    </footer>
    <section class="Copyright">
        <p>Copyright © Woof S.A</p>
    </section>
</body>
</html>