<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil <%= user.name  %> </title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="icon" href="/img/LogoCircular32x32.png">
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <section style="margin-left: 10px; margin-top: 10px;">
        <h1 style="margin-bottom: 5px;">Perfil:</h1>
        <h3>Nombre: <%= user.name %></h3>
        <h3>Email: <%= user.email %></h3>
        <h3>Contraseña: <%= user.password %></h3>
        <h3>Direccion: <%= user.direccion %></h3>
        <h3>Avatar:</h3><img src="../img/users/<%= user.avatar %>" alt="Avatar" style="max-width: 300px"><br><br>
        <a href="/users/logout" type="button" class="btn btn-outline-danger">Cerrar Sesion</a><br><br>
        <a href="/users/delete" type="button" class="btn btn-outline-danger">Borrar Usuario</a><br><br>
    </section>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>
</html>