<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar <%=product.name %></title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>
    <main class="register">
        <div class="registro">
            <h3 class="registro">Editar producto: <%= product.name %></h3>
            <div class="formulario">
                <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="registro">
                        <input type="text" name="name" id="name" placeholder="Nombre de producto" required minlength="2"
                            value=<%=product.name %>>
                        <input type="number" name="price" id="price" placeholder="Precio" required
                            value=<%=product.price %>>
                        <input type="number" name="discount" id="discount" placeholder="Descuento" required
                            value=<%=product.discount %>>
                        <input type="text" name="category" id="category" placeholder="Categoria" required
                            value=<%=product.category %>>
                        <input type="text" name="description" id="description" placeholder="Descripcion" required
                            value=<%=product.description %>>
                        <input type="file" name="image" id="image" placeholder="Imagen">
                    </div>
                
            </div>
        </div>

        <div class="buttons">
            <input type="submit" value="Editar un Producto" class="btn">
        </div>
                </form>
    </main>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>

</html>